/**
* Frontend CSS
*
* @package    birds-portfolio
* @subpackage birds-portfolio/public/css
* @since      1.0.0
*/

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'hovericons';
    src: url('../../assets/fonts/hovericons/hovericons.eot?88454380');
    src: url('../../assets/fonts/hovericons/hovericons.eot?88454380#iefix') format('embedded-opentype'),
        url('../../assets/fonts/hovericons/hovericons.woff?88454380') format('woff'),
        url('../../assets/fonts/hovericons/hovericons.ttf?88454380') format('truetype'),
        url('../../assets/fonts/hovericons/hovericons.svg?88454380#hovericons') format('svg');
}

/* Portfolio Single */
.slick-slide > img {
    margin:0 auto;
    text-align: center;
}
.slick-prev, .slick-next {
    padding: 0 20px 0 0 !important;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    border-radius: 20px !important;
    background-color: rgba(0, 0, 0, 0.1) !important;
}
.slick-prev {
    left: 10px !important;
}
.slick-next {
    right: 10px !important;
}
.video-portfolio {
    position: relative;
    padding-top: 25px;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.video-portfolio iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.portfolio-entry-content {
    margin: 50px 0;
}
.portfolio_related_thumb {
    float: left;
    overflow: hidden;
    margin: 0 10px 50px 0;
    width: 200px;
    height: 200px;
}
.testimonial {
    margin: 30px 0 20px 20px;
}
.testimonial > blockquote {
    margin: 1.5em 10px;
    padding: 1.5em 10px;
    border-left: 10px solid #ccc;
    background: #f9f9f9;
    quotes: "\201C""\201D""\2018""\2019";
}
.testimonial > blockquote:before {
    /* margin-right: 0.25em; */
    margin-left: 0.25em;
    color: #ccc;
    content: "\201C";
    vertical-align: -0.4em;
    font-size: 8em;
    font-family: monospace;
    line-height: 0;
}
.testimonial > blockquote > p {
    display: inline;
    color: #888;
    font-style: normal;
}
span.portfolio-link {
}

/* Portfolio Archives */
.archives_first {
    float:left;
    overflow: hidden;
    margin-top: 15px;
    width:49%;
    height: 300px;
}
.archives_second {
    float:right;
    width:50%;
}
h2.archives_title {
    padding-bottom: 5px;
    border-bottom: 1px solid #000;
}

/* Portfolio Filter */
ul#portfolio {
    margin: 30px 0 10px 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
}
ul#portfolio li {
    display: inline;
    margin-right: 20px;
    margin-bottom: 10px;
    padding-left: 0;
    text-align: center;
}
ul#portfolio li:after {
    position: absolute;
    z-index: 3;
    margin-top: 1px;
    height: 20px;
    content: "-";
    font-size: 16px;
    line-height: 28px;
    color: #ccc;
}
ul#portfolio li:last-child:after {
    content: ""
}
ul#portfolio li a {
    margin-right: 10px;
    color: #ccc;
    text-decoration: none;
}
ul#portfolio li a:hover {
    color: #333
}
ul#portfolio li a.current {
    color: #333
}
.portfolio_filter a {
    display: inline-block;
    margin-right: .5em;
    padding: 3px 9px;
    text-decoration: none;
}

/* Portfolio Page */
@media (min-width: 300px) {
    .portfolio_item {
        width: 100% !important
    }
}
@media (min-width: 480px) {
    .portfolio_item {
        width: 100% !important
    }
}

@media (min-width: 768px) {
    .portfolio_item {
        width: 50% !important
    }
}

@media (min-width: 1024px) {
    .portfolio_item {
        width: 25% !important
    }
}

.portfolio_item figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}

.portfolio_item figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}

.portfolio_item figure figcaption {
    padding: 2em;
    color: #ccc;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.portfolio_item figure figcaption::before,
.portfolio_item figure figcaption::after {
    pointer-events: none;
}

.portfolio_item figure figcaption,
.portfolio_item figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.portfolio_item figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.portfolio_item figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.portfolio_item figure h2,
.portfolio_item figure p {
    margin: 0;
}

.portfolio_item figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}
figure.effect figcaption {
    top: auto;
    bottom: 0;
    padding: 1em;
    height: 3.75em;
    background: rgba(255, 255, 255, 0.2);
    color: #3c4a50;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
}

figure.effect h2 {
    float: left;
}

figure.effect p.icon-links a {
    float: right;
    color: #fff;
    font-size: 1.5em;
}

figure.effect:hover p.icon-links a:hover,
figure.effect:hover p.icon-links a:focus {
    color: #8cafc1;
}

figure.effect p.description {
    position: absolute;
    bottom: 8em;
    padding: 2em;
    color: #fff;
    text-transform: none;
    font-size: .6em;
    opacity: 0;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
    -webkit-backface-visibility: hidden; /* Fix for Chrome 37.0.2062.120 (Mac) */
}

figure.effect h2,
figure.effect p.icon-links a {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,200%,0);
    transform: translate3d(0,200%,0);
}

figure.effect p.icon-links a span::before {
    display: inline-block;
    padding: 8px 10px;
    font-family: 'hovericons';
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-link::before {
    content: '\e800';
}

figure.effect h2 {
    display: inline-block;
    color: #fff;
    font-size: .8em;
    line-height: 2.5em;
}

figure.effect:hover p.description {
    opacity: 1;
}

figure.effect:hover figcaption,
figure.effect:hover h2,
figure.effect:hover p.icon-links a {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.effect:hover h2 {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

figure.effect:hover p.description {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

figure.effect:hover p.icon-links a:first-child {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
